body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}
#color {
	background-color: Yellow;
	padding: 10px 15px;
}
#place {
	background-color: lightyellow;
	padding: 10px 15px;
}
#ritual {
	background-color: gold;
	padding: 10px 15px;
}
nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}